.stream--card {
  height: 380px;
  width: 280px;
  margin: 0 30px 30px 0;
  transition: all 0.4s;
  border-radius: 10px;
  /*box-shadow: 2px 11px 36px -16px rgba(0, 0, 0, 0.75);*/
  box-shadow: 2px 11px 36px -16px hsla(0, 0%, 100%, 0.15);
  background-color: hsla(0, 0%, 100%, 0.15);
  color: white;
}

.stream--card:hover {
  transform: translateY(-5px);
}

.stream--card__image {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.stream--card__body {
  height: 52%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.stream--card__body__title {
  margin-top: 20px;
  font-size: 21px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  font-weight: 500;
}

.stream--card__body__viewers {
  margin-bottom: 20px;
}

.stream--card__body__btn {
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #212529;
  font-size: 14px;
  line-height: 1.125;
  border-radius: 5px;
  padding: 2px 5px;
  cursor: pointer;
}

.stream--card__body__btn:hover {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 559px) {
  .stream--card {
    margin: 0 0 30px 0;
  }
}