.headerTop {
  background-color: #18181C;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.menuList {
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9), 0 0px 2px rgba(0, 0, 0, 0.9);
}

.navlink {
  list-style-type: none;
  padding: 0 20px;
  color: #efeff1;
  cursor: pointer;
  font-weight: 500;
  transition: all .2s ease-in-out;
}

.link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.link:hover {
  color: #a970ff;
  text-decoration: none;
}

.navlink:hover {
  color: #a970ff;
}

.navlink:nth-child(4) {
  margin: 0 auto;
  flex-shrink: 1;
  width: 600px;
}

.logo {
  margin-top: 5px;
  font-size: 26px;
  color: #a970ff;
  transition: all .2s ease-in-out;
}

.logo:hover {
  transform: translate3d(2px, -5px, 10px);
}

.logo-link {
  padding: 0 15px;
}

.formSubmit {
  display: flex;
  flex-shrink: 1;
}

.searchIcon {
  width: 20px;
}

.searchInput {
  width: 50%;
  padding: 10px 8px;
  background-color: #fff;
  border: 2px solid #fff;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding-left: 12px;
  font-family: 'Montserrat', sans-serif;
  background: hsla(0, 0%, 100%, 0.15);
  border: none;
  border-right: 1px solid #0e0e10;
  color: #fff;
  font-weight: 500;
}

.searchInput:hover, .searchInput:focus {
  background-color: #000;
  color: white;
  border: 2px solid #a970ff;
  padding: 8px 8px;
  margin-right: 1px;
}

.searchInput:focus {
  outline: none;
}

.searchInput::placeholder {
  color: #efeff1;
}

.navlink button {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 0 8px;
  border: none;
  background: #29292C;
  color: white;
}

.menuResBtn {
  display: none;
  position: fixed;
  top: 10px;
  right: 20px;
  color: #fff;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.menuIcon {
  width: 25px;
}

@media screen and (max-width: 950px) {
  .navlink:nth-child(4) {
    width: 550px;
  }

  .menuResBtn {
    display: block!important;
    z-index: 99999;
  }
}

@media screen and (max-width: 900px) {

  .menuList {
    flex-direction: column;
    height: 250px;
    padding-top: 50px;
  }

  .navlink {
    height: 100px;
    background: #18181C;
    width: 100%;
  }

  .navlink:nth-child(4) {
    width: 100% !important;
    padding: 10px 0 20px 0;
  }

  .formSubmit {
    justify-content: center;
  }

  .menuResBtn {
    display: block !important;
  }
}